.message-text {
    background-color: #333;
    padding: 40px 15px;
}

.message-text .text {
    flex: 0 0 66.66%;
    max-width: 66.66%;
}

.message-text .text h2 {
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 35px;
}

.message-text .button {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: right;
}

.message-text .button a {
    border-radius: 4px;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: transparent;
}

.message-text .button a:hover {
    background-color: #fff;
    color: #333;
}

@media (max-width: 768px) {
    .message-text {
        background-color: #333;
        padding: 20px 10px;
    }

    .message-text .text h2 {
        font-size: 17px;
    }


    .message-text .button a {
        padding: 7px 15px;
        font-size: 10px;
        font-weight: bolder;
        transition: all .7s ease;
    }
}
