.language {
    display: flex;
}

.language h3 {
    margin-top: 1vh;
    margin-right: 1vh;
    color: #ccc;
    cursor: pointer;
    font-size: 20px;
}

.language h3 .active {
    color: #9ccd62;
}

@media (max-width: 768px) {
    .language {
        display: block;
    }
    .language h3 {
        font-size: 8px;
    }
}