.skills {
    padding: 10px 15px;
    background-color: #fff;
    margin: 7vh 7vh 13vh 7vh;
}


.skills > .container > .align-item-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    grid-gap: 5vh 10vh;
}


/*IMAGE SIDE*/

.skills .img img {
    width: 100%;
    display: block;
}

/*.row .img {*/
/*    max-height: 200px;*/
/*}*/

/*TEXT SIDE*/


.skills .skills-content .section-title p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #757575;
    margin: 15px 0 0;
}


.skills .skills-content .skill-box {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
}

.skills .skills-content .skill-box h6 {
    font-size: 16px;
    font-weight: 500;
    color: #757575;
    margin: 0 0 8px;
}

.skills .skills-content .skill-box .skill-bar {
    height: 15px;
    background-color: #e3e3e3;
    position: relative;

}

.skills .skills-content .skill-box .skill-bar .skill-bar-in {
    background-color: #9ccd62;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.skills .skills-content .skill-box .skill-bar .skill-bar-in span {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: -30px;
}

@media (max-width: 768px) {
    .skills {
        margin: 3vh 3vh 0 3vh;
    }

    .skills {
        padding: 3vh 3vh 0 3vh;
    }

    .skills .container .row .skills-content {
        height: 100vh;
        grid-area: content;
    }

    .skills > .container > .align-item-center {
        display: grid;
        grid-template-areas:  'content' 'image';
        grid-template-columns: 1fr;

    }

    .skills .container .row .img {
        grid-area: image;
        width: 300px;
        margin: 15vh auto 3vh;
        height: 45vh;
    }

    .skills .skills-content .skill-box .skill-bar {
        height: 10px;
    }

}
