/*Home*/
header {
text-align: center;
}

.header-container {
    position: absolute;
    left: 0;
    right: 0;
    padding: 15px 40px 15px 40px;
    z-index: 5;
}

header .row {
    justify-content: space-between;
    align-items: center;
}

header .brand-name a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color: #9ccd62;
    text-transform: uppercase;
}

.home-li {
    font-size: 30px;
    font-weight: 600;
    color: #9ccd62;
    cursor: pointer;
}


header.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header .navbar ul li {
    display: inline-block;
    margin-left: 20px;
}
header .navbar ul li a {
    font-size: 27px;
    text-decoration: none;
    line-height: 72px;
    color: #3c3d42;
    display: block;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}

header .navbar ul li a:hover {
    color: #9ccd62;
    transition: .7s;
}

@media (max-width: 1100px) {

}


/*HAMBURGER MENU*/

@media screen and (max-width: 768px) {


    header .brand-name a{
        display: none;
    }
    header .navbar {
        margin: 0 auto;
        /*white-space: nowrap;*/
    }
    header .navbar ul li a {
        font-size: 17px;
        line-height: normal;
        white-space: nowrap;
    }
    header .navbar ul li:first-child {
        display: none;
    }
    header .navbar ul li {
        margin: 0 5px;
    }
}


