/*Home*/
.nav-header {
    z-index:333;
    position: absolute;
}


.nav-header .language {
    margin-left: 50vh;
}


.nav-header .header-container .row {
    justify-content: space-between;
    align-items: center;
}




.home-li {
    font-size: 30px;
    font-weight: 600;
    color: #9ccd62;
    cursor: pointer;
}



.navbar ul li {
    display: inline-block;
    margin-left: 20px;
}

.navbar ul li a {
    font-size: 27px;
    text-decoration: none;
    line-height: 72px;
    color: #757575;
    display: block;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}

.navbar ul li a:hover {
    color: #9ccd62;
    transition: .7s;
}


@media screen and (min-width: 785px) {
    .hamburger, .nav-links {
        display: none;
    }

}
@media screen and (max-width: 768px) {
    .nav-header .language {
        display: none;
    }
}



